a {
  text-decoration: underline;
  color: $theme-main;

  &:hover {
    font-weight: normal;
    color: $theme-accent;
  }
}

// For FAQ
h4 {
  margin-bottom: 5px;
}

table.pricing-scale {
  width: 100%;

  th, td {
    width: 33%;
  }
}
